* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.container {
    max-width: 1024px;
    padding: 0 20px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}

.col_4 {
    width: calc(100 / 3);
}